# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---
- name:                                "2.3 SAP Exports: - Windows - Get the SCS Server name list"
  ansible.builtin.set_fact:
    scs_server_temp: "{{ scs_server_temp | default([]) + [item] }}"
  with_items:
    - "{{ query('inventory_hostnames', '{{ sap_sid | upper }}_SCS') }}"
    - "{{ query('inventory_hostnames', '{{ sap_sid | upper }}_DB') }}"

- name:                                "2.3 SAP Exports: - Windows - Set the SCS Server name"
  ansible.builtin.set_fact:
    scs_server:                        "{{ hostvars[scs_server_temp | first]['virtual_host'] }}"

- name:                                "2.3 SAP Exports: - Windows - Create SAP Directories"
  when:
                                       - node_tier == 'scs'
  ansible.windows.win_dsc:
    resource_name:                     File
    DestinationPath:                   "{{ item.path }}"
    Type:                              Directory
    Ensure:                            Present
  loop:
    - { path: "{{ target_media_location_windows }}" }

- name:                                "2.3 SAP Exports: - Windows - Enable Folder Sharing"
  when:
                                       - node_tier == 'scs'
  ansible.windows.win_share:
    name:                              SAP
    description:                       Share Installation Files Accross Servers
    path:                              "{{ target_media_location_windows }}"
    list:                              true
    full:                              '{{ orchestration_ansible_user }},SAP_{{ sap_sid | upper }}_LocalAdmin,SAP_{{ sap_sid | upper }}_GlobalAdmin@{{ domain_name }},{{ domain_service_account }}@{{ domain_name }},{{ sql_svc_account }}'
    state:                             present
  register:                            win_share_info

- name:                                "2.3 SAP Exports: - Windows - Show Share Output"
  when:
                                       - node_tier == 'scs'
  ansible.builtin.debug:
    var:                               win_share_info

...
