# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.

---

- name:                                "WIN-SQL: Print Tier information"
  ansible.builtin.debug:
    msg:
      - "Current execution tier:  {{ tier }}"
      - "Current config tier:     {{ config_tier }}"
      - "Current execution host:  {{ inventory_hostname }}"

- name:                                "WIN-SQL: Discover disk configuration"
  ansible.builtin.include_tasks:
    file:                              "4.4.0.2-mssql-discover-disks.yaml"
  when:
    - tier in ['sqlserver', 'ha']

- name:                                "WIN-SQL: check if installed"
  ansible.windows.win_stat:
    path:                              '{{ sap_deployment_automation }}\{{ sap_sid | upper }}\sap_deployment_sqldb.txt'
  register:                            sql_installed

- name:                                "WIN-SQL: Run SQL Server Prerequisites"
  ansible.builtin.include_tasks:
    file:                              "4.4.0.0-mssql-prerequisites.yaml"
  when:
    - tier == 'sqlserver'
    - not sql_installed.stat.exists

- name:                                "WIN-SQL: Run SQL Server Installation"
  ansible.builtin.include_tasks:
    file:                              "4.4.0.1-mssql-main.yaml"
  when:
    - tier == 'sqlserver'
    - not sql_installed.stat.exists

- name:                                "WIN-SQL: Relocate TempDB to Mount Points"
  ansible.builtin.include_tasks:
    file:                              "4.4.2-mssql-relocate-tempdb.yaml"
  when:
    - tier == 'sqlserver'
    - sql_installed.stat.exists
    - volume_groups is defined
    - volume_groups | selectattr('disk_type', 'equalto', 'tempdb') | list | length > 0

- name:                                "WIN-SQL: Run SQL Server Always On Prerequisites"
  ansible.builtin.include_tasks:
    file:                              "4.4.1.0-mssql-alwayson-prerequisites.yaml"
  when:
    - tier == 'ha'
    - config_tier == 'sqlserverha'
    - sql_installed.stat.exists

- name:                                "WIN-SQL: Run SQL Server Always On config"
  ansible.builtin.include_tasks:
    file:                              "4.4.1.1-mssql-alwayson-config.yaml"
  when:
    - tier == 'ha'
    - config_tier == 'sqlserverha'
    - sql_installed.stat.exists

- name:                                "WIN-SQL: Configure Distributed Network Name (DNN)"
  ansible.builtin.include_tasks:
    file:                              "4.4.1.2-mssql-configure-dnn.yaml"
  when:
    - tier == 'ha'
    - config_tier == 'sqlserverha'
    - sql_installed.stat.exists
    - use_dnn_listener | default(false) | bool

...

# /*---------------------------------------------------------------------------8
# |                                   END                                      |
# +------------------------------------4--------------------------------------*/
