WHENEVER SQLERROR EXIT SQL.SQLCODE
ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 10 ('+DATA','+RECO') SIZE {{ standby_redo_log_size }} reuse;
ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 11 ('+DATA','+RECO') SIZE {{ standby_redo_log_size }} reuse;
ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 12 ('+DATA','+RECO') SIZE {{ standby_redo_log_size }} reuse;
ALTER DATABASE ADD STANDBY LOGFILE THREAD 1 GROUP 13 ('+DATA','+RECO') SIZE {{ standby_redo_log_size }} reuse;
EXIT;
