*.db_name='{{ db_sid | upper }}'
*.db_unique_name='{{ db_sid | upper }}_STDBY'

*.db_block_size=8192
*.compatible='{{ ora_version }}'
*.diagnostic_dest='/oracle/{{ db_sid | upper }}/saptrace'
*.audit_file_dest='/oracle/{{ db_sid | upper }}/saptrace/audit'

# Memory configuration
*.sga_max_size={{ sga_max_size }}
*.pga_aggregate_target={{ pga_aggregate_target }}

# Recovery settings
*.db_recovery_file_dest='{{ db_recovery_file_dest }}'
*.db_recovery_file_dest_size='{{ db_recovery_file_dest_size }}'

*.DG_BROKER_CONFIG_FILE1 = '+DATA/DG_CONFIG/dg_broker1.dat' SCOPE=BOTH;
*.DG_BROKER_CONFIG_FILE2 = '+DATA/DG_CONFIG/dg_broker2.dat' SCOPE=BOTH;


# Grid listener registration
*.local_listener='(ADDRESS=(PROTOCOL=TCP)(HOST={{ ora_secondary }})(PORT={{ listener_port }}))'

# Essential parameters
*.processes=300
*.open_cursors=300
*.undo_tablespace='UNDOTBS1'
*.remote_login_passwordfile='EXCLUSIVE'
