*.db_name='{{ db_sid | upper }}'
*.db_unique_name='{{ db_sid | upper }}_STDBY'

*.db_block_size=8192
*.compatible='{{ ora_version }}'
*.diagnostic_dest='/oracle/{{ db_sid | upper }}/saptrace'

# Memory configuration
*.sga_max_size={{ sga_max_size }}
*.pga_aggregate_target={{ pga_aggregate_target }}

# Control files
*.control_files='+DATA/{{ db_sid | upper }}/control01.ctl','{{ db_recovery_file_dest }}/{{ db_sid | upper }}/control02.ctl'

# Recovery settings
*.db_recovery_file_dest='{{ db_recovery_file_dest }}'
*.db_recovery_file_dest_size={{ db_recovery_file_dest_size }}


# Grid listener registration
*.local_listener='(ADDRESS=(PROTOCOL=TCP)(HOST={{ ora_secondary }})(PORT={{ listener_port }}))'

# Essential parameters
*.processes=300
*.open_cursors=300
*.undo_tablespace='UNDOTBS1'
*.remote_login_passwordfile='EXCLUSIVE'
