# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#}
################
# Filename......: sqlnet.ora
# Created.......: created by SDAF
# Name..........:
# Date..........:
# @(#) $Id: //inst/inst_scripts/lmts_006_REL/tpls/ora/SQLNET.ORA#2 $
################
NAMES.DIRECTORY_PATH= (TNSNAMES, EZCONNECT)
