# Copyright (c) Microsoft Corporation.
# Licensed under the MIT License.
#
################
# Filename......: tnsnames.ora
# Created.......: created by SDAF for Secondary
# Name..........:
# Date..........:
# @(#) $Id: //inst/inst_scripts/lmts_006_REL/tpls/ora/TNSNAMES.ORA#2 $
################
{{ db_sid }}_STDBY.WORLD=
  (DESCRIPTION =
    (ADDRESS_LIST =
        (ADDRESS =
          (PROTOCOL = TCP)
          (HOST = {{ ora_secondary }})
          (PORT = 1521)
        )
    )
    (CONNECT_DATA =
       (SID = {{ db_sid | upper }}_STDBY)
       (GLOBAL_NAME = {{ db_sid | upper }}_STDBY.WORLD)
       (SERVICE_NAME={{ db_sid | upper }}_STDBY)
       (UR = A)
    )
  )
{{ db_sid | upper}}.WORLD=
  (DESCRIPTION =
    (ADDRESS_LIST =
        (ADDRESS =
          (PROTOCOL = TCP)
          (HOST = {{ ora_primary }})
          (PORT = 1521)
        )
    )
    (CONNECT_DATA =
       (SID = {{ db_sid | upper }})
       (GLOBAL_NAME = {{ db_sid  | upper }}.WORLD)
       (SERVICE_NAME={{ db_sid | upper }})
    )
  )

