{# Copyright (c) Microsoft Corporation.
 # Licensed under the MIT License.
#}
{#
 # Generate SQL Server file directory paths for data and log files
 # Returns directory paths where database files will be stored
 # For mount points: Returns mount_point (already created by disk-setup)
 # For drive letters: Returns {drive}:\{diskname} (to be created)
#}
{% set sql_data_disks = [] %}
{% set sql_log_disks = [] %}

{% for disk in volume_groups %}
{%   if disk.disk_type == 'data' %}
{%     if disk.use_mount_point | default(false) %}
{%       set dir_path = disk.mount_point %}
{%     else %}
{%       set dir_path = disk.driveletter ~ ':\\' ~ disk.diskname %}
{%     endif %}
{%     set _ = sql_data_disks.append(dir_path) %}
{%   elif disk.disk_type == 'log' %}
{%     if disk.use_mount_point | default(false) %}
{%       set dir_path = disk.mount_point %}
{%     else %}
{%       set dir_path = disk.driveletter ~ ':\\' ~ disk.diskname %}
{%     endif %}
{%     set _ = sql_log_disks.append(dir_path) %}
{%   endif %}
{% endfor %}

{{ [sql_data_disks, sql_log_disks] }}
